<div class="container">
  <div class="row">
    <div class="column column-20"></div>
    <div class="column">
      <h3 style="text-align: center;">Account</h3>
      <p>Username: <%=@user.username%></p>
      <p>Email: <%=@user.email%></p>
    </div>
    <div class="column column-20"></div>
  </div>
</div>