<br>
<h3 style="text-align: center;"><%= @journal.title %></h3>
<div class="row">
  <div class="column column-20"></div>
  <div class="readable-column">
    <% previous_date = nil %>
    <% @journal.entries.sort {|a, b| b.updated_at <=> a.updated_at}.each do |entry| %>
      <% if previous_date != entry.date_created_in_localtime %>
        <br>
        <h6 style="text-align: center;"><%= entry.date_created_in_localtime.strftime("%A %m/%d/%y") %></h6>
      <% end %>
      <h5><%= entry.prompt.title %></h4>
      <p style="white-space: pre-line"><%= entry.text %></p>
      <% previous_date = entry.date_created_in_localtime %>
    <% end %>
  </div>
</div>
<br>
