<br>
<div class="container">
  <div class="row">
    <div class="column column-25"></div>
    <div class="column">
      <h1 style="text-align: center;"><strong>JournalQ</strong></h1>
      <h3 style="text-align: center;">Guide Your Journaling Practice</h3>
      <p>
        Never stare at a blank page again. 
        With JournalQ you can create daily prompts that guide your writing practice to
        remind yourself what is important, inspire, and challenge yourself every day.
      </p>
      <p style="text-align: center;">
        <a href="/signup" class="button">Create Account</a>
      </p>
    </div>
<div class="column column-25"></div>
  </div>
</div>