<br>
<div class="container">
  <div class="row">
    <div class="column column-25"></div>
    <div class="column" style="background-color: yellow;">
      <h1 style="text-align: center;"><strong>JournalQ</strong></h1>
      <h3 style="text-align: center;">Guide Your Journaling Practice</h3>
    </div>
    <div class="column column-25"></div>
  </div>
</div>