<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>JournalQ - Guide Your Journaling Practice</title>
  <meta charset = "UTF-8" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajaaddx/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" href="/stylesheets/milligram.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <nav class="navigation">
    <div class="container">
      <a class="navigation-title" href="/">JournalQ</a>
      <div class="float-right">
        <% if logged_in? %>
          <a class="navigation-list" href="/user/<%=current_user.id%>/journals">My Journals</a>
          <a class="navigation-list" href="/user/<%=current_user.id%>">Account</a>
          <a class="navigation-list" href="/logout">Logout</a>
        <% else %>
          <a class="navigation-list" href="/signup">Sign Up</a>
          <a class="navigation-list" href="/login">Log in</a>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>